.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #e1f3f1;
  margin-bottom: 2rem;
}

#galeri {
  background-color: #e1f3f1;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.foto-img {
  width: 100%;
}

#photos .row > * {
  padding: 0;
}
